<%= form_tag message_table_path(@table), method: :post, remote: true do %>
  <div class="action">
    <div class="cancelMessage">
      Cancel
    </div>
    <%= button_tag 'Submit' %>
    <div class="clear"></div>
  </div>
  <div class="field">
    <%= text_area_tag :content, '', placeholder: 'Message your plans here' %>
  </div>
<% end %>