<%= form_tag message_room_path(@room), remote: true do %>
  <div class="field">
    <%= text_area_tag :content, '', placeholder: 'Message your plans here' %>
  </div>
  <div class="action">
    <%= button_tag 'Submit' %>
  </div>
<% end %>