<div class="message">
  <div class="userImage">
    <%= image_tag 'lazy.jpg', 'data-original' => message.user.photo, class: 'lazyLoad' %>
  </div>
  <div class="body">
    <div class="userName">
      <%= link_to message.user.name, message.user %>
      <div class="timestamp">
        <%= time_ago_in_words(message.created_at) %> ago
      </div>
    </div>
    <div class="messageContent">
      <%= message.content %>
    </div>
  </div>
</div>