<%= content_for :sitting_class do %>
  active
<% end %>
<div class="sitting">
  <div class="tables">
    <%= render partial: 'seats/sitting_table', object: @seats, as: :seats %>
  </div>
</div>
<div class="page">
  <%= render partial: 'shared/pagination', object: @seats, as: :objects %>
</div>