<%= content_for :news_class do %>
  active
<% end %>
<div class="clearNews">
  <%= link_to 'Clear News', clear_news_path, remote: true %>
</div>
<div class="notifications">
  <%= render @notifications %>
</div>
<div class="page">
  <%= render partial: 'shared/pagination', object: @notifications, as: :objects %>
</div>