<div class="tutorial">
  <div class="section start">
    <%= image_tag 'tutorial_1.jpg' %>
    <div class="info">
      Search for a place, then choose the number of seats at your table 
      or click "Start" to begin a new table
    </div>
    <nav>
      <div class="next">
        Next &#8594;
      </div>
    </nav>
  </div>
  <div class="section join">
    <%= image_tag 'tutorial_2.jpg' %>
    <div class="info">
      Explore tables started by other people
      and click "Join Table" to sit down with them
    </div>
    <nav>
      <div class="prev">
        &#8592; Prev
      </div>
      <div class="next">
        Next &#8594;
      </div>
    </nav>
  </div>
  <div class="section ready">
    <%= image_tag 'tutorial_3.jpg' %>
    <div class="info">
      When your table is filled up and ready to go, 
      send messages to people sitting at the table
      and share your plans
    </div>
    <nav>
      <div class="prev">
        &#8592; Prev
      </div>
      <div class="next">
        Begin
      </div>
    </nav>
  </div>
</div>