<div class="tutorial">
  <div class="sections">
    <div class="section start">
      <%= image_tag 'tutorial_start.jpg' %>
      <div class="info">
        To start a table, click on "Start", 
        then search for a place and select a date to begin.
      </div>
      <nav>
        <div class="next">
          Next &#8594;
        </div>
      </nav>
    </div>
    <div class="section join">
      <%= image_tag 'tutorial_explore.jpg' %>
      <div class="info">
        Explore tables started by other people
        and click "Join Table" to sit down with them.
      </div>
      <nav>
        <div class="prev">
          &#8592; Prev
        </div>
        <div class="next">
          Next &#8594;
        </div>
      </nav>
    </div>
    <div class="section ready">
      <%= image_tag 'tutorial_message.jpg' %>
      <div class="info">
        Send messages to people sitting at your table
        and share your plans with them.
      </div>
      <nav>
        <div class="prev">
          &#8592; Prev
        </div>
        <div class="next">
          Begin
        </div>
      </nav>
    </div>
  </div>
</div>