<%= content_for :body_class do %>
  imageBackground
<% end %>
<div class="about">
  <h1>Never eat alone</h1>
  <div class="intro">
    <h2>
      Bite makes eating with friends easy.
    </h2>
    <h2>
      Choose a place to eat and watch as your friends join you.
    </h2>
    <h2>
      Can't decide? Then join someone else's party and enjoy.
    </h2>
  </div>
  <%= render partial: 'shared/facebook_auth' %>
</div>