<% if !signed_in? %>
  <%= content_for :head do %>
    <style>
      .wrapper {
        padding: 0;
      }
    </style>
  <% end %>
<% end %>
<%= content_for :body_class do %>
  imageBackground
<% end %>
<div class="about">
  <h1>Never eat alone</h1>
  <div class="intro">
    <p>Eating with people made easy.</p>
    <h2>What is Bite</h2>
    <p>Bite is an app that creates an environment for you to eat with people you normally don't and try new places with friends.</p>
    <p>If you feel like eating somewhere and don't know who is down, start a table and other people will join. Don't know what to eat or who is eating where? No worries, you can join the tables of others.</p>
  </div>
  <%= render partial: 'shared/facebook_auth' %>
</div>