<% if current_user && !current_user.sitting?(table) %>
  <div class="join">
    <%= form_tag join_table_path(table), method: :post, remote: true do %>
      <%= button_tag 'Join Table' %>
    <% end %>
  </div>
<% end %>