$white: rgb(255, 255, 255);
$marginPercent: 8%;
$halfMarginPercent: 4%;

.about {
  height: 100%;
  h1 {
    color: $white;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin: $marginPercent 0 0 0;
    padding: 0 10px;
    text-align: right;
  }
  .intro {
    background: rgba(0, 0, 0, 0.7);
    margin: $marginPercent 0 0 0;
    padding: 10px;
    h2 {
      font-weight: 700;
      margin: 0 0 5px 0;
    }
    h2, p {
      color: $white;
      font-size: 14px;
      line-height: 21px;
    }
    p {
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}