@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}

.menuView {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  margin: 0 auto;
  max-width: 640px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.menu_panel {
  background: rgb(245, 245, 245);
  @include browser(box-sizing, border-box);
  height: 100%;
  max-width: 426px;
  width: 67%;
  .title {
    color: rgb(40, 40, 40);
    font-size: 18px;
    font-weight: 700;
    height: 44px;
    line-height: 44px;
    text-align: center;
    img {
      left: 10px;
      max-height: 20px;
      max-width: 23px;
      padding: 12px 0;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      color: rgb(40, 40, 40);
      padding: 0 10px;
      .holder {
        border-top: 1px solid rgb(160, 160, 160);
        height: 30px;
        padding: 10px 0;
      }
      .image {
        float: left;
        height: 30px;
        overflow: hidden;
        text-align: center;
        width: 30px;
        img {
          max-height: 30px;
        }
      }
      .label {
        float: left;
        font-size: 15px;
        line-height: 30px;
        margin: 0 0 0 10px;
      }
    }
  }
}