.menu_panel {
  background: rgb(80, 80, 80);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  .title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    img {
      left: 10px;
      max-height: 30px;
      max-width: 30px;
      padding: 7px 0;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      color: rgb(255, 255, 255);
      padding: 0 10px;
      .holder {
        border-top: 1px solid rgb(255, 255, 255);
        height: 30px;
        padding: 10px 0;
      }
      .image {
        float: left;
        height: 30px;
        overflow: hidden;
        text-align: center;
        width: 30px;
        img {
          max-height: 30px;
        }
      }
      .label {
        float: left;
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 0 10px;
      }
    }
  }
}