@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}

.pagination {
  nav {
    display: none;
  }
  @include browser(box-orient, horizontal);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  font-size: 14px;
  text-align: center;
  nav {
    margin: 0 auto;
    span {
      @include browser(box-flex, 1);
      padding: 10px;
      a {
        text-decoration: none;
      }
    }
    .current {
      color: rgb(120, 120, 120);
    }
  }
}