@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}

/* Table seats */
.tables {
  .table {
    .seats {
      .seat {
        float: left;
        height: 40px;
        overflow: hidden;
        width: 60px;
        img {
          max-width: 60px;
        }
        .empty {

        }
      }
    }
  }
}

/* User seats */
.table_show {
  .join {
    margin: 10px 0;
  }
  .seats, .leave_table {
    padding: 0 10px;
  }
  .leave_table {
    margin: 10px 0 0 0;
    button {
      border: none;
      @include browser(border-radius, 2px);
    }
  }
  .seats {
    h1 {
      border-bottom: 1px solid rgb(160, 160, 160);
      border-top: 1px solid rgb(160, 160, 160);
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      margin: 0;
      padding: 10px 0;
    }
    .user_seat {
      margin: 10px 0 0 0;
      &.link:hover {
        cursor: pointer;
      }
      .user_seat_image {
        float: left;
        height: 30px;
        overflow: hidden;
        text-align: center;
        width: 30px;
        img {
          max-height: 30px;
        }
      }
      .userName {
        font-size: 13px;
        font-weight: 700;
        line-height: 30px;
        margin: 0 0 0 40px;
      }
    }
  }
}