@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}

$dimensionPercent: 55%;
$marginPercent: 8%;
$halfMarginPercent: 4%;

.signIn {
  height: 100%;
  .biteImage {
    height: $dimensionPercent;
    margin: 20px auto 0 auto;
    text-align: center;
    width: $dimensionPercent;
    img {
      max-height: $dimensionPercent;
      max-width: $dimensionPercent;
    }
  }
  .biteLogo {
    height: $dimensionPercent;
    margin: $marginPercent auto 0 auto;
    text-align: center;
    width: $dimensionPercent;
    img {
      max-height: $dimensionPercent;
      max-width: $dimensionPercent;
    }
  }
  .intro {
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    margin: $marginPercent 0 0 0;
    padding: 10px;
    h1 {
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      margin: 0;
      text-align: right;
    }
    h2 {
      font-weight: 700;
      margin: $halfMarginPercent 0 0 0;
    }
    h2, ol {
      font-size: 14px;
      line-height: 21px;
    }
    ol {
      margin: 0;
      padding: 0 0 0 20px;
    }
  }
}