@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}

/* Search */
.place_search {
  padding: 10px;
  .field {
    margin: 0 0 5px 0;
  }
  .field.location {
    float: left;
    margin: 0;
  }
  .field.location, .action {
    width: 49%;
  }
  .action {
    float: right;
  }
  .clearButton {
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    display: none;
    font-size: 13px;
    margin: 5px 0 0 0;
    padding: 5px;
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }
}

.table_form {
  margin: 10px 0 0 0;
  .buttons {
    @include browser(box-orient, horizontal);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    width: 100%;
    div {
      @include browser(box-flex, 1);
      @include browser(box-sizing, border-box);
      margin: 0 5px 0 0;
      &.field, &.action {
        width: 22%;
      }
      &.action {
        margin: 0;
      }
      input {
        text-align: center;
      }
    }
    .seatButton {
      background: rgb(60, 60, 60);
      border: 1px solid transparent;
      color: rgb(255, 255, 255);
      line-height: 16px;
      padding: 10px;
      text-align: center;
      width: 17%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}