/* Place results and tables */
.place_result, .table {
  border-top: 1px solid rgb(120, 120, 120);
  font-size: 14px;
  line-height: 17px;
  padding: 20px 10px;
  .image {
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    img {
      max-height: 60px;
      max-width: 60px;
    }
  }
  .title {
    margin: 0 0 0 70px;
    .name, .location {
      height: 20px;
      line-height: 20px;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .name, .location {
      color: rgb(40, 40, 40);
    }
    .name {
      font-weight: 700;
    }
  }
}

.table {
  .title {
    .location {
      color: rgb(160, 160, 160);
    }
    .startDate {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

/* Yelp ratings */
.place_result, .table, .table_show {
  .rating {
    color: rgb(160, 160, 160);
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    .yelpReviews {
      background-image: url('yelp_reviews.png');
      float: left;
      height: 16px;
      margin: 2px 5px 2px 0;
      overflow: hidden;
      width: 84px;
      &.zero {
        background-position: 0 0;
      }
      &.one {
        background-position: 0 -19px;
      }
      &.onePointFive {
        background-position: 0 -38px;
      }
      &.two {
        background-position: 0 -57px;
      }
      &.twoPointFive {
        background-position: 0 -76px;
      }
      &.three {
        background-position: 0 -95px;
      }
      &.threePointFive {
        background-position: 0 -114px;
      }
      &.four {
        background-position: 0 -133px
      }
      &.fourPointFive {
        background-position: 0 -152px
      }
      &.five {
        background-position: 0 -171px;
      }
    }
  }
}

/* Tables */
.tables {
  .table {
    &:first-child {
      border: none;
    }
    a {
      display: block;
      padding: 20px 10px;
      text-decoration: none;
    }
    .join {
      margin: 10px 0 0 0;
      text-align: right;
      button {
        width: 50%;
      }
    }
  }
}

/* Table join table button */
.join {
  form {
    button {
      background: rgb(207, 4, 4);
      border: none;
      color: rgb(255, 255, 255);
    }
  }
}

/* Tables detail */
.table_show {
  padding: 10px 0;
  .name {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }
  .image {
    background: rgb(255, 255, 255);
    float: left;
    height: 100px;
    margin: 0 1px 0 0;
    padding: 10px;
    text-align: center;
    width: 100px;
    img {
      max-height: 100px;
      max-width: 100px;
    }
  }
  .data {
    overflow: hidden;
    .rating, .info {
      background: rgb(255, 255, 255);
    }
    .rating {
      padding: 5px 10px;
    }
    .info {
      height: 69px;
      margin: 1px 0 0 0;
      padding: 10px;
      p {
        font-size: 14px;
        line-height: 23px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  .startDate {
    background: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
    margin: 1px 0 0 0;
    padding: 10px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  .joinTable, .messageRoomButton {
    padding: 0 10px;
  }
  .messageRoom {
    background: rgb(235, 235, 235);
    border: 1px solid rgb(160, 160, 160);
    display: block;
    color: rgb(40, 40, 40);
    font-size: 14px;
    margin: 10px 0 0 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
}