<div class="header">
  <% if signed_in? %>
    <div class="menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <%= yield :right_bar_button_item %>
  <% end %>
  <div class="logo">
    <% if @nav_title %>
      <p><%= @nav_title %></p>
    <% else %>
      <% if signed_in? %>
        <%= image_tag 'logo.png' %>
      <% else %>
        <%= link_to image_tag('logo.png'), sign_in_path %>
      <% end %>
    <% end %>
  </div>
</div>